<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="ConnectionStringAtual" connectionString="Data Source=DESKTOP-PLHVR5D\SQLEXPRESS01;Initial Catalog=LP2;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="FrmAnimais.Properties.Settings.ConexaoEscola" connectionString="Provider=SQLOLEDB;Data Source=apolo;Password=So22012009;User ID=ds240375;Initial Catalog=LP2"
   providerName="System.Data.OleDb" />
  <add name="FrmAnimais.Properties.Settings.ConexaoCasa" connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-PLHVR5D\SQLEXPRESS01;Initial Catalog=LP2;Integrated Security=SSPI;&#xA;"
   providerName="System.Data.SqlClient" />
  <add name="FrmAnimais.Properties.Settings.ConnectionStringAtual"
   connectionString="Data Source=DESKTOP-PLHVR5D\SQLEXPRESS01;Initial Catalog=LP2;Integrated Security=True;TrustServerCertificate=True" />
 </connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>